{% extends "base_template.html" %}

{% block title %}
    {% if form.title.data %}
        {{ form.title.data }}
    {% else %}
        Nueva entrada
    {% endif %}
{% endblock %}

{% block content %}

    <h1>Crear publicación</h1>
    <hr>

  <div class="form-container">
      <form action="" method="post" enctype="multipart/form-data" novalidate>
          {{ form.hidden_tag() }}

          <div class="form-1c-grid">
          
              <div class="form-item">
                {{ form.title.label() }}
                {{ form.title() }}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>

              <div class="form-item">
                {{ form.description.label() }}
                {{ form.description() }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>

              <div class="form-item">
                {{ form.post_image.label() }}<br>
                <div class="file-select" id="src-file1" >
                {{ form.post_image() }}<br>
                </div>
                {% for error in form.post_image.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>

              <div class="form-item">
              {{ form.content.label() }}
              {{ form.content(id="RichText", style="color:#111021 !important;") }}<br>
              {% for error in form.content.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
              </div>

            </div>
              
              {{ form.submit(class="post-btn") }}
      </form>
    

      {% if post %}
        <form action="{{ url_for('admin.delete_post', post_id=post.id) }}" method="post" novalidate>
            <input class="post-btn" type="submit" value="Eliminar" />
        </form>
      {% endif %}

  </div>

    <!-- RICH TEXT -->
    <link rel="stylesheet" href="{{ url_for("static", filename="Rich/site.css") }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="Rich/richtext.min.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="Rich/jquery.richtext.js") }}"></script>

    <script>

      $(document).ready(function() {
          $('#RichText').richText();
      });

      </script>

{% endblock %}