{% extends "base_template.html" %}

{% block title %}
    {% if form.title.data %}
        {{ form.title.data }}
    {% else %}
        Nueva entrada
    {% endif %}
{% endblock %}

{% block content %}


<div class="container">

  <h1 style="color:white;">Crear publicación</h1>

  <hr class="my-5">

    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        
            {{ form.title.label(class="labe") }}
            {{ form.title(class="formu") }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.description.label(class="labe") }}
            {{ form.description(class="formu") }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.category.label(class="labe") }}
            {{ form.category(class="formu") }}<br>
            {% for error in form.category.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            <div class="mb-3">
              {{ form.post_image.label(class="labe") }}<br>
              {{ form.post_image(class="form-control form-control-lg") }}<br>
              {% for error in form.post_image.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>

            {{ form.content.label(class="labe") }}
            {{ form.content(id="RichText", style="color:#111021 !important;") }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            
            {{ form.submit(class="btnsb") }}
    </form>
  

    {% if post %}
      <form action="{{ url_for('admin.delete_post', post_id=post.id) }}" method="post" novalidate>
          <input class="btnsb" type="submit" value="Eliminar" />
      </form>
    {% endif %}

</div>

    <!-- RICH TEXT -->
    <link rel="stylesheet" href="{{ url_for("static", filename="Rich/site.css") }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="Rich/richtext.min.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="Rich/jquery.richtext.js") }}"></script>

    <script>
      $(document).ready(function() {
          $('#RichText').richText();
      });
      </script>

{% endblock %}