{% extends "base_template.html" %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}

  <h1>{{ user.username }}</h1>
  <hr>

    <div class="list-users-detail">
        <h5>Nombre: </h5>
        <h4>{{ user.name }} {{ user.lastname }}</h4>
    </div>
    <div class="list-users-detail">
        <h5>Email: </h5>
        <h4>{{ user.email }}</h4>
    </div>
    <div class="list-users-detail">
        <h5>Ciudad: </h5>
        <h4>{{ user.city }}</h4>
    </div>
    <div class="list-users-detail">
        <h5>Celular: </h5>
        <h4>{{ user.phone }}</h4>
    </div>
    <div class="list-users-detail">
        <h5>Fecha de cumpleaños: </h5>
        <h4>{{ user.birthday|datetime }}</h4>
    </div>
    <div class="list-users-detail">
        <h5>Bias: </h5>
        <h4>{{ user.bias }}</h4>
    </div>
    <div class="list-users-detail">
        <h5>Fecha creación: </h5>
        <h4>{{ user.created|datetime('full') }}</h4>
    </div>
    
  
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="list-users-detail">
            <h5>{{ form.is_staff.label() }}</h5>
            <h5>{{ form.is_staff() }}</h5><br>
            {% for error in form.is_staff.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        {% if current_user.is_admin %}
        {{ form.hidden_tag() }}
        <div class="list-users-detail">
            <h5>{{ form.is_admin.label() }}</h5>
            <h5>{{ form.is_admin() }}</h5><br>
            {% for error in form.is_admin.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        

        <div class="form-container">
            {{ form.submit(class="post-btn") }}
        </div>

    </form>

    {% if current_user.is_admin %}
        <form action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="post" novalidate>
            <div class="form-container">
            <input class="post-btn" type="submit" value="Eliminar" />
            </div>
        </form>
    {% endif %}
    
{% endblock %}