{% extends "base_template.html" %}

{% block title %}
    Listado de usuarios
{% endblock %}

{% block content %}
<div class="container marketing" style="background-color:rgba(0,0,0,0.8)">
  <h1 style="color:white;">Listado de usuarios</h1>

  <hr class="my-5">
<div class="row">
  {% for user in users %}
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>{{ user.username }}</h2>
        {% if user.is_staff %}<p>Staff</p> {% endif %}
        {% if user.is_admin %}<p>Admin</p> {% endif %}
        <p><a class="btn btn-secondary" href="{{ url_for('admin.update_user_form', user_id=user.id) }}">Detalles</a></p>
      </div><!-- /.col-lg-4 -->
  {% endfor %}
</div>
</div>
{% endblock %}