{% extends "base_template.html" %}

{% block title %} Crear intercambio {% endblock %}

{% block content %}

    <h1>Crear intercambio</h1>
    <hr>

    <div class="form-container">
        <form action="" method="post" enctype="multipart/form-data" novalidate>
    
            {{ form.hidden_tag() }}

            <div class="form-2c-grid">

                <div class="form-item">
                    <h3>Photocard que tienes</h3>
                </div>

                <div class="form-item">
                    <h3>Photocard que quieres</h3>
                </div>

                <div class="form-item">
                    {{ form.album_from.label() }}
                    {{ form.album_from() }}<br>
                    {% for error in form.album_from.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-item">
                    {{ form.album_to.label() }}
                    {{ form.album_to() }}<br>
                    {% for error in form.album_to.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-item">
                    {{ form.pc_type_from.label() }}
                    {{ form.pc_type_from() }}<br>
                    {% for error in form.pc_type_from.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-item">
                    {{ form.pc_type_to.label() }}
                    {{ form.pc_type_to() }}<br>
                    {% for error in form.pc_type_to.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-item">
                    {{ form.member_from.label() }}
                    {{ form.member_from() }}<br>
                    {% for error in form.member_from.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-item">
                    {{ form.member_to.label() }}
                    {{ form.member_to() }}<br>
                    {% for error in form.member_to.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

            </div>

            {{ form.submit(class="post-btn") }}
        </form>
    </div>

<script>
    let album_from_select = document.getElementById('album_from');
    let pc_type_from_select = document.getElementById('pc_type_from');
    
    album_from_select.onchange = function() {
        album = album_from_select.value;
        
        fetch('/pc_type/' + album).then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '';
                for (let pc_type of data.pc_types) {
                    optionHTML += '<option value="' + pc_type.value + '">' + pc_type.name + '</option>';
                }
                
                    pc_type_from_select.innerHTML = optionHTML;
            });
        });
    }

    let album_to_select = document.getElementById('album_to');
    let pc_type_to_select = document.getElementById('pc_type_to');

    album_to_select.onchange = function() {
        album = album_to_select.value;
        
        fetch('/pc_type/' + album).then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '';
                for (let pc_type of data.pc_types) {
                    optionHTML += '<option value="' + pc_type.value + '">' + pc_type.name + '</option>';
                }
                
                    pc_type_to_select.innerHTML = optionHTML;
            });
        });
    }

</script>

{% endblock %}