{% extends "base_template.html" %}

{% block title %}  {% endblock %}

{% block content %}

<div style="background-color:rgba(0,0,0,0.8);" class="container">

    <h1 style="color:white;">Crear publicación</h1>

    <hr class="my-5">

    <form action="" method="post" enctype="multipart/form-data" novalidate>
    
        {{ form.hidden_tag() }}
        <div class="row g-3">

            <div class="col-md-6">
                <h3>Photocard que tienes</h3>
            </div>
            <div class="col-md-6">
                <h3>Photocard que quieres</h3>
            </div>

            <div class="col-md-6">
                {{ form.album_from.label(class="labe") }}
                {{ form.album_from(class="formu") }}<br>
                {% for error in form.album_from.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-md-6">
                {{ form.album_to.label(class="labe") }}
                {{ form.album_to(class="formu") }}<br>
                {% for error in form.album_to.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-md-6">
                {{ form.pc_type_from.label(class="labe") }}
                {{ form.pc_type_from(class="formu") }}<br>
                {% for error in form.pc_type_from.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-md-6">
                {{ form.pc_type_to.label(class="labe") }}
                {{ form.pc_type_to(class="formu") }}<br>
                {% for error in form.pc_type_to.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-md-6">
                {{ form.member_from.label(class="labe") }}
                {{ form.member_from(class="formu") }}<br>
                {% for error in form.member_from.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-md-6">
                {{ form.member_to.label(class="labe") }}
                {{ form.member_to(class="formu") }}<br>
                {% for error in form.member_to.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

        </div>

        {{ form.submit(class="btnsb") }}
    
    </form>

</div>

<script>
    let album_from_select = document.getElementById('album_from');
    let pc_type_from_select = document.getElementById('pc_type_from');
    
    album_from_select.onchange = function() {
        album = album_from_select.value;
        
        fetch('/pc_type/' + album).then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '';
                for (let pc_type of data.pc_types) {
                    optionHTML += '<option value="' + pc_type.value + '">' + pc_type.name + '</option>';
                }
                
                    pc_type_from_select.innerHTML = optionHTML;
            });
        });
    }

    let album_to_select = document.getElementById('album_to');
    let pc_type_to_select = document.getElementById('pc_type_to');

    album_to_select.onchange = function() {
        album = album_to_select.value;
        
        fetch('/pc_type/' + album).then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '';
                for (let pc_type of data.pc_types) {
                    optionHTML += '<option value="' + pc_type.value + '">' + pc_type.name + '</option>';
                }
                
                    pc_type_to_select.innerHTML = optionHTML;
            });
        });
    }

</script>

{% endblock %}