{% extends "base_template.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    
    <h1>{{ post.title }}</h1>
    <hr>

    <div>
        <span>{{ post.created|datetime('full') }}</span>
            {% if current_user.is_staff %}
                <a href={{ url_for('admin.update_post_form', post_id=post.id) }}
                <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                </a>
            {% endif %}
    </div>

        {{ post.content|safe }}

    <hr>
    <h1>Comentarios</h1>


    <div class="form-2c-grid comments">

        <div id="comments">
            {% for comment in post.comments %}
                <div class="form-2c-grid">
                    <span class="comment-user"> {{ comment.user_username }} </span>
                    <span class="blogDate">{{ comment.created|datetime }}</span>
                </div>
                <p>{{ comment.content }}</p>
                <hr>
            {% endfor %}
        </div>

        <div id="comment form">
        {% if current_user.is_authenticated %}
            <div class="form-container">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                    <h2>Agrega un comentario</h2>
                    {{ form.content() }}<br>
                    {% for error in form.content.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    {{ form.submit(class="post-btn") }}
            </form>
            </div>
        {% else %}
            <a href="#login" onclick="document.getElementById('idlogin').style.display='block'">
            <h3 style="color:#f2c763; margin-top:20px;">Inicia sesión para escribir un comentario</h3>
            </a>
        {% endif %}
        </div>

    </div>

{% endblock %}