.form-container {
    text-align: center;
    width: 100%;
}

.form-2c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-2c-grid.comments {
    margin-top: 20px;
    gap:10%;
}

.form-2c-grid.comments .comment-user {
    color:#f2c763;
}

.form-2c-grid.comments .blogDate {
    color:#8a2a2b;
}

.form-2c-grid.comments p {
    margin-top: 10px;
    padding-left: 10px;
}

#comments .comment-user {
    align-items: center;
}

.form-1c-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.form-container input, textarea, select {
    width: 60%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-container form label{
    color:#f2c763;
    font-size: 20px;
    text-shadow: 1px 1px 2px #101820;
    display: block; 
    float: center;  
}

.form-container .post-btn {
    color:#ccc;
    font-weight: bold;
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #8a2a2b; 
    border-style: solid; 
    border-radius: 10px;  
    width: 30%;   
    cursor: pointer;
   }

.form-container .post-btn:hover {
    background-color: rgb(129, 62, 63);
    opacity: 0.9;
    box-shadow: 4px 4px 8px #101820;
}

.form-item h3 {
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 9px #101820;
}

/* FILE SELECTOR */

.file-select,
.multiple-file-select {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.file-select::before,
.multiple-file-select::before {
    background-color: #8a2a2b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
.file-select input[type="file"],
.multiple-file-select input[type="file"] {
    opacity: 0;
    width:200px;
    height: 5px;
    display: inline-block;
}

:root {
    --fn: 'Seleccionar Archivo';
}
    
.file-select::before,
.multiple-file-select::before {
    white-space: nowrap;
    content: var(--fn);
}

@media (max-width: 468px) {
    .form-2c-grid {
        grid-template-columns: 1fr;
    }
}