{% extends "base_template.html" %}

{% block title %}
    {% if event %}
        {{ event.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% if current_user.is_admin %}
    <a class="add-album" href="{{ url_for('fanclub.add_fc_photos') }}">
        <svg style="color:white;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
{% endif %}

<div class="event-grid">
    {% for event in events %}
        <div style="background-image: url( {{ url_for('media_galery', filename=event.image_name) }} );" class="event-element">
            <div class="event-element-body">
                <h3>{{ event.name }}</h3>
                <p>{{ event.date }}</p>
                <a href="{{ url_for('fanclub.gallery_view', event_id=event.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            </div>
        </div>
    {% endfor %}
</div>




{% endblock %}