<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/logo.png") }}"> 
    <title>{% block title %}{% endblock %}</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

    <!-- PROPIOS -->
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/auth.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/forms.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/album.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/photocards.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/admin.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/exchange.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/events.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/store.css") }}">

  </head>

<body>
      {% block body %}{% endblock %}
      {% include 'topnav.html' %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="container">
            {% for message in messages %}
            <h4 style="color:red;">{{ message }}</h4>
            {% endfor %}
          </div>
        {% endif %}
        {% endwith %}

        <div class="container">

        {% block content %}{% endblock %}

        </div>

        {% include 'footer.html' %}
        
        {% include 'auth.html' %}

        <script type='text/javascript'>
	        document.oncontextmenu = function(){return false}
        </script>
 
 <!-- Ordenar imágenes-->
 <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
 <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

  <script src="{{ url_for("static", filename="js/script.js") }}" ></script>

  
 
</body>
</html>