<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="auth.css") }}">
    
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}">
    <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ url_for("static", filename="bootstrap/js/jquery.js") }}"></script>

  {% block head %} {% endblock %}

  </head>

<body>
      {% block body %}{% endblock %}
      {% include 'topnav.html' %}

        
        <hr class="my-1">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="container">
            {% for message in messages %}
            <h4 style="color:red;">{{ message }}</h4>
            {% endfor %}
          </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

<p>
        {% include 'footer.html' %}

   
   <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}"></script>
   
   <!-- Ordenar imágenes-->
   <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
   <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

    <script src="{{ url_for("static", filename="script.js") }}" ></script>
</body>
</html>