<div class="footer-links">
  <div class="footer-container">
      <ul>
          <li>
              <a href="/">
                  <h3>© 2021 InSomnia Colombia</h3>
              </a>
          </li>
      </ul>
      <ul>
          <li>
              <a href="https://www.facebook.com/DreamcatcherCOL">
                  <img src="{{ url_for('static', filename='icons/fb.svg') }}" width="20px" height="100%">
              </a>
          </li>
          <li>
              <a href="https://twitter.com/InSomniaCOL">
              <img src="{{ url_for('static', filename='icons/tw.svg') }}" width="25px" height="100%">
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/dreamcatchercol/">
              <img src="{{ url_for('static', filename='icons/ig.svg') }}" width="25px" height="100%">
              </a>
          </li>
      </ul>
  </div>
</div>